
  .scrollbarl, .scrollbarr, .scrollbarb { position:absolute; background-color:#ddd; }
  .scrollbtn { position:absolute; background-color:#fff; border: 2px solid #bbb; }

  .scrollbarl { top:0; left:0; width:16px; height:100%; }
  .scrollbarl .scrollbtn { top:0; left:0; width:22px; height:50%; border-left-style:none; }

  .scrollbarr { top:0; right:0; width:16px; height:100%; }
  .scrollbarr .scrollbtn { top:0; right:0; width:22px; height:50%; border-right-style:none; }

  .scrollbarb { bottom:0; left:0; height:16px; width:100%; }
  .scrollbarb .scrollbtn { bottom:0; left:0; height:22px; width:50%; border-bottom-style:none; }


  .palscroll .scrollbarl, .palscroll .scrollbarr, .palscroll .scrollbarb { background-color:rgb(218,210,170); }
  .palscroll .scrollbtn { background-color:rgb(248,240,200); border-width: 1px; border-color:#aaa; }

  .palscroll .scrollbarl { width:9px; }
  .palscroll .scrollbarl .scrollbtn { width:12px; }

  .palscroll .scrollbarr { width:9px; }
  .palscroll .scrollbarr .scrollbtn { width:12px; }

  .palscroll .scrollbarb { height:9px; }
  .palscroll .scrollbarb .scrollbtn { height:12px; }


  .palette { position:absolute; border: 2px solid #bbb; background-color:rgb(238,230,190); font: 90% verdana;
           min-width:4em; min-height:4em; cursor:default; overflow:hidden; z-index:1; visibility:hidden;
           -moz-box-shadow: -5px 5px 5px rgba(190,190,190,0.8); }

  .palclose { position:absolute; border: 1px solid #444; top:5px; right:5px; width:10px; height:10px; }

  .pallabel, .paltext, .palbutton, .palmenu, .palgrid, .palpanel, .palhtml, .palscroll { position:absolute; z-index:1; }

  .palclose, .paltext, .palbutton, .palmenubtn, .palgridcell, .palgridrow { background-color:rgb(268,260,220); }

  .palbutton, .palmenubtn, .palmenugrid, .palgridcell { border: 2px solid #aaa }
  .palgridrow { border: 0 solid #bbb; }

  .palbutton { -moz-border-radius: 4px; }

  .palbutton { text-align:center; -moz-user-select:none; padding:3px; }

  .palmenu { z-index:2; }
  .palmenubtn { width:100%; height:100%; -moz-user-select:none; padding:3px; white-space:nowrap; overflow:hidden; }
  .palmenugrid { position:absolute; display:none; background-color:rgb(248,240,200); padding:3px; }

  .palgridcell, .palgridrow { -moz-user-select:none; vertical-align:bottom; overflow:hidden; }
  .palgridcell { float:left; margin:1px; text-align:center; padding:3px; }
  .palgridrow  { padding:6px; }

  .palpanel { overflow:hidden; border: 1px solid #aaa; }
  .palsubpanel { display:none; }

  .palhtml { width:100%; }
  .palhtmldiv { line-height:1.6em; }

  .palscrollclip { overflow:hidden; margin-left:14px; height:100%; width:100%; }
  .palscrollcontent { position:relative; }

  .palselect { position:absolute; border: 3px dotted #88f; z-index:0; }

  .palxml { position:absolute; top:0; left:0; width:100%; height:100%; z-index:2; border-width:0; margin:0; padding:5px; }

